*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  color: #707070; }

.box {
  height: 40vw;
  width: 80%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #707070;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55); }
  .box__quote {
    margin-top: auto;
    display: flex;
    font: 55px 'Freestyle Script'; }
    .box__quote span {
      font-family: 'Imprint MT Shadow';
      font-size: 10vw;
      margin-right: 1%; }
    .box__quote p {
      align-self: center;
      padding: 5% 5% 5% 5%;
      font-size: 5vw;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation: fadein 2s;
      box-sizing: border-box; }
  .box__footer {
    display: flex;
    flex-direction: row;
    height: 5em;
    width: 90%;
    margin: auto 2% 4% 2%; }
  .box__quote-gen {
    width: 15vw;
    border-radius: 10px;
    border: none;
    font-family: 'Imprint MT Shadow';
    font-size: 2vw;
    cursor: pointer;
    outline: none; }
    .box__quote-gen:hover {
      background-color: #eee;
      color: #404040;
      transition: all ease-in-out 0.3s; }
  .box__tweet {
    margin: auto auto auto 20px; }
    .box__tweet img {
      height: 30px;
      width: 30px; }
  .box__cite {
    margin: auto 1% auto auto;
    font-family: 'Freestyle Script';
    font-size: 4vw; }

.fade {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: fade-in 2s; }
