@import url('reset.css');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	border: 1px solid red;
	color: #707070;
}

.box {
	height: 470px;
	width: 900px;
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid #707070;
	box-shadow: 0 3px 6px rgba(000, 000, 000, 0.55);

	&__quote {
		width: 770px;
		height: 250px;
		// border: 1px solid blue;
		margin-top: auto;
		display: flex;
		font: 55px 'Freestyle Script';
		position: relative;

		&::before,
		&::after {
			content: '"';
			font-family: 'Imprint MT Shadow';
			font-size: 120px;
		}

		&::after {
			position: absolute;
			top: 60%;
			left: 93%;
		}

		& p {
			justify-self: center;
			align-self: center;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__footer {
		display: flex;
		flex-direction: row;
		height: 70px;
		width: 90%;
		// border: 1px solid red;
		margin: auto 20px 40px 20px;
	}

	&__quote-gen {
		width: 210px;
		height: 70px;
		border-radius: 10px;
		border: none;
		font-family: 'Imprint MT Shadow';
		font-size: 30px;
		cursor: pointer;

		&:hover {
			background-color: #eee;
			color: #404040;
		}
	}

	&__tweet {
		margin: auto auto auto 20px;

		& img {
			height: 50px;
			width: 50px;
		}
	}

	&__cite {
		margin: auto 10px auto auto;
		font-family: 'Freestyle Script';
		font-size: 45px;
	}
}
