*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	border: 1px solid red;
	color: #707070;
}

.box {
	height: 40vw;
	width: 80%;
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid #707070;
	box-shadow: 0 3px 6px rgba(000, 000, 000, 0.55);

	&__quote {
		// border: 1px solid blue;
		margin-top: auto;
		display: flex;
		font: 55px 'Freestyle Script';

		& span {
			font-family: 'Imprint MT Shadow';
			font-size: 10vw;
			margin-right: 1%;
		}

		& p {
			align-self: center;
			padding: 5% 5% 5% 5%;
			font-size: 5vw;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1);
			animation: fadein 2s;
			box-sizing: border-box;
			// border: 1px solid red;
		}
	}

	&__footer {
		display: flex;
		flex-direction: row;
		height: 5em;
		width: 90%;
		// border: 1px solid red;
		margin: auto 2% 4% 2%;
	}

	&__quote-gen {
		width: 15vw;
		border-radius: 10px;
		border: none;
		font-family: 'Imprint MT Shadow';
		font-size: 2vw;
		cursor: pointer;
		outline: none;

		&:hover {
			background-color: #eee;
			color: #404040;
			transition: all ease-in-out 0.3s;
		}
	}

	&__tweet {
		margin: auto auto auto 20px;

		& img {
			height: 30px;
			width: 30px;
		}
	}

	&__cite {
		margin: auto 1% auto auto;
		font-family: 'Freestyle Script';
		font-size: 4vw;
	}
}

.fade {
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation: fade-in 2s;
}
